In [1]:
import pandas as pd
import numpy as np

In [2]:
merge_keys = pd.read_excel("Standar Munis.xlsx")

In [3]:
merge_keys

,Estandár,TSE,CCSS,elected_mayors,reelectec_mayors,substitute_mayors,ICC,Empresas,CGR
0,abangares,Abangares,507: Abangares,Abangares,Abangares,Abangares,Abangares,NaN,MUNICIPALIDAD DE ABANGARES
1,acosta,Acosta,112: Acosta,Acosta,Acosta,NaN,Acosta,NaN,MUNICIPALIDAD DE ACOSTA
2,aguirre,Aguirre,606: Aguirre,Quepos,NaN,NaN,Quepos,AGUIRRE,MUNICIPALIDAD DE QUEPOS
3,alajuela,Alajuela,201: Alajuela,Alajuela,Alajuela,Alajuela,Alajuela,ALAJUELA,MUNICIPALIDAD DE ALAJUELA
4,alajuelita,Alajuelita,110: Alajuelita,Alajuelita,Alajuelita,NaN,Alajuelita,NaN,MUNICIPALIDAD DE ALAJUELITA
...,...,...,...,...,...,...,...,...,...
76,turrialba,Turrialba,305: Turrialba,Turrialba,NaN,NaN,Turrialba,TURRIALBA,MUNICIPALIDAD DE TURRIALBA
77,turrubares,Turrubares,116: Turrubares,Turrubares,Turrubares,NaN,Turrubares,NaN,MUNICIPALIDAD DE TURRUBARES
78,upala,Upala,213: Upala,Upala,NaN,NaN,Upala,NaN,MUNICIPALIDAD DE UPALA
79,valverde vega,Valverde Vega,212: Valverde Vega,Valverde Vega,NaN,NaN,Valverde Vega,NaN,MUNICIPALIDAD DE SARCHI
80,vazquez de coronado,Vázquez de Coronado,111: Vázquez de Coronado,Vázquez de Coronado,Vázquez de Coronado,NaN,Vázquez de Coronado,NaN,MUNICIPALIDAD DE VASQUEZ DE CORONADO

In [4]:
macro_df = pd.read_excel("Base variables macro.xlsx")

In [5]:
macro_df = macro_df.merge(merge_keys[["Estandár", "CGR"]].rename(columns={"CGR": "municipality"}), on="municipality", how="left")
macro_df = macro_df.drop(columns="municipality").rename(columns={"Estandár": "municipality"})

In [6]:
cgr1_df = pd.read_csv("cgr_clean (Agregado).csv")
cgr2_df = pd.read_csv("cgr_clean (Agregado Medio).csv")
cgr3_df = pd.read_csv("cgr_clean (Desagregado).csv")

In [7]:
cgr_df = cgr1_df.merge(cgr2_df, on=["year", "municipality"], how="left")
cgr_df = cgr_df.merge(cgr3_df, on=["year", "municipality"], how="left")
cgr_df = cgr_df.fillna(0)

In [8]:
cgr_df = cgr_df.merge(merge_keys[["Estandár", "CGR"]].rename(columns={"CGR": "municipality"}), on="municipality", how="left")
cgr_df = cgr_df.drop(columns="municipality").rename(columns={"Estandár": "municipality"})

In [9]:
mayors_df = pd.read_excel("elected_mayors_age_gender.xlsx", usecols=['municipality', 'year', 'type', 'Age', 'Gender'])

In [10]:
mayors_df = mayors_df.merge(merge_keys[["Estandár", "elected_mayors"]].rename(columns={"elected_mayors": "municipality"}), on="municipality", how="left")

In [11]:
mayors_df = mayors_df.drop(columns="municipality").rename(columns={"Estandár": "municipality"})

In [12]:
mayors_df["Age"] = np.floor(mayors_df["Age"])

In [13]:
elections_df = pd.read_excel("panel_abs_mar.xlsx").dropna()

In [14]:
elections_df = elections_df.merge(merge_keys[["Estandár", "TSE"]].rename(columns={"TSE": "municipality"}), on="municipality", how="left")
elections_df = elections_df.drop(columns="municipality").rename(columns={"Estandár": "municipality"})

In [15]:
population_df = pd.read_stata("population.dta")

In [16]:
population_df["pop_share014"] = 100 * population_df["pop_share014"]
population_df["pop_share65plus"] = 100 * population_df["pop_share65plus"]

In [17]:
population_df = population_df.merge(merge_keys[["Estandár", "CCSS"]].rename(columns={"CCSS": "municipality"}), on="municipality", how="left")
population_df = population_df.drop(columns="municipality").rename(columns={"Estandár": "municipality"})

In [18]:
df = cgr_df.merge(mayors_df, on=["municipality", "year"], how='left')
df

,year,remu,serv,d_goods,total_expenses,remu_bas,remu_ev,rentals,serv_cf,cap_prot,...,cap_trans,cap_build,cap_roads,cap_install,pe_land,pe_build,municipality,type,Age,Gender
0,2006,1.787290e+08,1.598136e+08,4.388412e+07,5.171597e+08,1.034171e+08,6.880000e+06,1.067569e+08,2891207.00,1122050.00,...,0.0,9113814.19,1.419965e+07,4.015000e+06,0.0,0.0,abangares,National,46.0,Male
1,2006,8.982367e+07,2.044039e+07,2.070993e+07,7.532943e+08,5.157712e+07,1.075990e+07,0.000000e+00,4417324.47,450310.00,...,2321500.0,975000.00,1.144275e+07,0.000000e+00,5460000.0,0.0,acosta,National,47.0,Male
2,2006,1.945523e+09,1.382939e+09,4.922386e+08,7.368471e+09,8.876527e+08,1.393952e+08,3.857116e+06,57562868.88,48005740.05,...,40821789.5,77825676.86,2.371242e+07,6.487590e+07,9085440.0,0.0,alajuela,National,66.0,Male
3,2006,2.951677e+08,1.007485e+08,5.532405e+06,7.855137e+09,1.605012e+08,1.079320e+07,1.540000e+06,1541755.29,853690.00,...,0.0,0.00,5.600000e+05,0.000000e+00,0.0,0.0,alajuelita,National,59.0,Male
4,2006,8.487647e+07,1.579059e+07,9.967700e+05,8.029178e+09,5.125692e+07,2.668420e+06,7.008000e+06,28318.00,0.00,...,0.0,0.00,0.000000e+00,0.000000e+00,0.0,0.0,alvarado,National,65.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210,2020,2.253224e+09,5.393585e+08,3.150571e+09,5.175461e+11,1.002042e+09,1.166223e+08,5.112316e+07,62182450.38,6483152.14,...,0.0,59630053.95,2.504702e+09,4.562530e+08,0.0,0.0,turrialba,National,32.0,Male
1211,2020,5.458386e+08,2.005289e+08,3.833550e+08,5.190264e+11,3.059136e+08,1.244712e+07,1.060398e+07,5320613.09,114700.00,...,0.0,0.00,2.860027e+08,0.000000e+00,0.0,0.0,turrubares,National,36.0,Male
1212,2020,9.186789e+08,4.829881e+08,1.163083e+09,5.225308e+11,5.036418e+08,5.617684e+07,7.108315e+07,19293216.45,5439484.63,...,0.0,93340272.00,1.044404e+09,0.000000e+00,0.0,0.0,upala,National,58.0,Male
1213,2020,1.911998e+09,4.582899e+08,1.379010e+08,5.259051e+11,1.033676e+09,7.428767e+07,2.386813e+07,72928521.72,3744453.22,...,0.0,0.00,4.056338e+07,0.000000e+00,0.0,0.0,vazquez de coronado,National,46.0,Male
1214,2020,6.080327e+08,2.970395e+08,4.091696e+08,5.276356e+11,3.692566e+08,2.159450e+07,5.346894e+06,28692653.64,5562306.69,...,0.0,10000000.00,2.998470e+08,0.000000e+00,0.0,0.0,alfaro ruiz,National,54.0,Male

In [19]:
df = df.merge(elections_df, on=["municipality", "year"], how='left')
df

,year,remu,serv,d_goods,total_expenses,remu_bas,remu_ev,rentals,serv_cf,cap_prot,...,cap_roads,cap_install,pe_land,pe_build,municipality,type,Age,Gender,win_margin,abstentionism
0,2006,1.787290e+08,1.598136e+08,4.388412e+07,5.171597e+08,1.034171e+08,6.880000e+06,1.067569e+08,2891207.00,1122050.00,...,1.419965e+07,4.015000e+06,0.0,0.0,abangares,National,46.0,Male,2.450057,54.513758
1,2006,8.982367e+07,2.044039e+07,2.070993e+07,7.532943e+08,5.157712e+07,1.075990e+07,0.000000e+00,4417324.47,450310.00,...,1.144275e+07,0.000000e+00,5460000.0,0.0,acosta,National,47.0,Male,1.048392,66.849803
2,2006,1.945523e+09,1.382939e+09,4.922386e+08,7.368471e+09,8.876527e+08,1.393952e+08,3.857116e+06,57562868.88,48005740.05,...,2.371242e+07,6.487590e+07,9085440.0,0.0,alajuela,National,66.0,Male,5.370956,83.142117
3,2006,2.951677e+08,1.007485e+08,5.532405e+06,7.855137e+09,1.605012e+08,1.079320e+07,1.540000e+06,1541755.29,853690.00,...,5.600000e+05,0.000000e+00,0.0,0.0,alajuelita,National,59.0,Male,18.203955,83.216970
4,2006,8.487647e+07,1.579059e+07,9.967700e+05,8.029178e+09,5.125692e+07,2.668420e+06,7.008000e+06,28318.00,0.00,...,0.000000e+00,0.000000e+00,0.0,0.0,alvarado,National,65.0,Male,6.589400,74.632114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210,2020,2.253224e+09,5.393585e+08,3.150571e+09,5.175461e+11,1.002042e+09,1.166223e+08,5.112316e+07,62182450.38,6483152.14,...,2.504702e+09,4.562530e+08,0.0,0.0,turrialba,National,32.0,Male,3.344356,63.544553
1211,2020,5.458386e+08,2.005289e+08,3.833550e+08,5.190264e+11,3.059136e+08,1.244712e+07,1.060398e+07,5320613.09,114700.00,...,2.860027e+08,0.000000e+00,0.0,0.0,turrubares,National,36.0,Male,18.218453,35.682426
1212,2020,9.186789e+08,4.829881e+08,1.163083e+09,5.225308e+11,5.036418e+08,5.617684e+07,7.108315e+07,19293216.45,5439484.63,...,1.044404e+09,0.000000e+00,0.0,0.0,upala,National,58.0,Male,8.726575,58.338978
1213,2020,1.911998e+09,4.582899e+08,1.379010e+08,5.259051e+11,1.033676e+09,7.428767e+07,2.386813e+07,72928521.72,3744453.22,...,4.056338e+07,0.000000e+00,0.0,0.0,vazquez de coronado,National,46.0,Male,21.019946,69.644103
1214,2020,6.080327e+08,2.970395e+08,4.091696e+08,5.276356e+11,3.692566e+08,2.159450e+07,5.346894e+06,28692653.64,5562306.69,...,2.998470e+08,0.000000e+00,0.0,0.0,alfaro ruiz,National,54.0,Male,9.122927,45.739605

In [20]:
df = df.merge(population_df, on=["municipality", "year"], how='left')
df

,year,remu,serv,d_goods,total_expenses,remu_bas,remu_ev,rentals,serv_cf,cap_prot,...,municipality,type,Age,Gender,win_margin,abstentionism,pop_share014,pop_share65plus,k_12centers,pop
0,2006,1.787290e+08,1.598136e+08,4.388412e+07,5.171597e+08,1.034171e+08,6.880000e+06,1.067569e+08,2891207.00,1122050.00,...,abangares,National,46.0,Male,2.450057,54.513758,29.658304,7.008557,64.0,17098.552249
1,2006,8.982367e+07,2.044039e+07,2.070993e+07,7.532943e+08,5.157712e+07,1.075990e+07,0.000000e+00,4417324.47,450310.00,...,acosta,National,47.0,Male,1.048392,66.849803,29.980206,6.973557,85.0,19626.765221
2,2006,1.945523e+09,1.382939e+09,4.922386e+08,7.368471e+09,8.876527e+08,1.393952e+08,3.857116e+06,57562868.88,48005740.05,...,alajuela,National,66.0,Male,5.370956,83.142117,26.675678,5.593527,232.0,266444.912420
3,2006,2.951677e+08,1.007485e+08,5.532405e+06,7.855137e+09,1.605012e+08,1.079320e+07,1.540000e+06,1541755.29,853690.00,...,alajuelita,National,59.0,Male,18.203955,83.216970,31.123486,3.785827,36.0,103172.761257
4,2006,8.487647e+07,1.579059e+07,9.967700e+05,8.029178e+09,5.125692e+07,2.668420e+06,7.008000e+06,28318.00,0.00,...,alvarado,National,65.0,Male,6.589400,74.632114,30.280029,5.504790,20.0,13588.406097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210,2020,2.253224e+09,5.393585e+08,3.150571e+09,5.175461e+11,1.002042e+09,1.166223e+08,5.112316e+07,62182450.38,6483152.14,...,turrialba,National,32.0,Male,3.344356,63.544553,21.427117,10.556755,284.0,73659.000000
1211,2020,5.458386e+08,2.005289e+08,3.833550e+08,5.190264e+11,3.059136e+08,1.244712e+07,1.060398e+07,5320613.09,114700.00,...,turrubares,National,36.0,Male,18.218453,35.682426,18.832775,8.994324,47.0,6871.000000
1212,2020,9.186789e+08,4.829881e+08,1.163083e+09,5.225308e+11,5.036418e+08,5.617684e+07,7.108315e+07,19293216.45,5439484.63,...,upala,National,58.0,Male,8.726575,58.338978,26.319489,7.318472,235.0,54055.000000
1213,2020,1.911998e+09,4.582899e+08,1.379010e+08,5.259051e+11,1.033676e+09,7.428767e+07,2.386813e+07,72928521.72,3744453.22,...,vazquez de coronado,National,46.0,Male,21.019946,69.644103,20.568494,9.042323,42.0,71663.000000
1214,2020,6.080327e+08,2.970395e+08,4.091696e+08,5.276356e+11,3.692566e+08,2.159450e+07,5.346894e+06,28692653.64,5562306.69,...,alfaro ruiz,National,54.0,Male,9.122927,45.739605,22.306673,8.221184,34.0,14341.000000

In [21]:
df = df.merge(macro_df, on=["municipality", "year"], how='left')
df

,year,remu,serv,d_goods,total_expenses,remu_bas,remu_ev,rentals,serv_cf,cap_prot,...,abstentionism,pop_share014,pop_share65plus,k_12centers,pop,gdp,interest_rate,deficit,debt,price_index
0,2006,1.787290e+08,1.598136e+08,4.388412e+07,5.171597e+08,1.034171e+08,6.880000e+06,1.067569e+08,2891207.00,1122050.00,...,54.513758,29.658304,7.008557,64.0,17098.552249,1.155564e+07,13.835565,-513532.600443,52.3,54.499581
1,2006,8.982367e+07,2.044039e+07,2.070993e+07,7.532943e+08,5.157712e+07,1.075990e+07,0.000000e+00,4417324.47,450310.00,...,66.849803,29.980206,6.973557,85.0,19626.765221,1.155564e+07,13.835565,-513532.600443,52.3,54.499581
2,2006,1.945523e+09,1.382939e+09,4.922386e+08,7.368471e+09,8.876527e+08,1.393952e+08,3.857116e+06,57562868.88,48005740.05,...,83.142117,26.675678,5.593527,232.0,266444.912420,1.155564e+07,13.835565,-513532.600443,52.3,54.499581
3,2006,2.951677e+08,1.007485e+08,5.532405e+06,7.855137e+09,1.605012e+08,1.079320e+07,1.540000e+06,1541755.29,853690.00,...,83.216970,31.123486,3.785827,36.0,103172.761257,1.155564e+07,13.835565,-513532.600443,52.3,54.499581
4,2006,8.487647e+07,1.579059e+07,9.967700e+05,8.029178e+09,5.125692e+07,2.668420e+06,7.008000e+06,28318.00,0.00,...,74.632114,30.280029,5.504790,20.0,13588.406097,1.155564e+07,13.835565,-513532.600443,52.3,54.499581
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210,2020,2.253224e+09,5.393585e+08,3.150571e+09,5.175461e+11,1.002042e+09,1.166223e+08,5.112316e+07,62182450.38,6483152.14,...,63.544553,21.427117,10.556755,284.0,73659.000000,3.485905e+07,3.998628,-668043.828746,82.4,100.000000
1211,2020,5.458386e+08,2.005289e+08,3.833550e+08,5.190264e+11,3.059136e+08,1.244712e+07,1.060398e+07,5320613.09,114700.00,...,35.682426,18.832775,8.994324,47.0,6871.000000,3.485905e+07,3.998628,-668043.828746,82.4,100.000000
1212,2020,9.186789e+08,4.829881e+08,1.163083e+09,5.225308e+11,5.036418e+08,5.617684e+07,7.108315e+07,19293216.45,5439484.63,...,58.338978,26.319489,7.318472,235.0,54055.000000,3.485905e+07,3.998628,-668043.828746,82.4,100.000000
1213,2020,1.911998e+09,4.582899e+08,1.379010e+08,5.259051e+11,1.033676e+09,7.428767e+07,2.386813e+07,72928521.72,3744453.22,...,69.644103,20.568494,9.042323,42.0,71663.000000,3.485905e+07,3.998628,-668043.828746,82.4,100.000000
1214,2020,6.080327e+08,2.970395e+08,4.091696e+08,5.276356e+11,3.692566e+08,2.159450e+07,5.346894e+06,28692653.64,5562306.69,...,45.739605,22.306673,8.221184,34.0,14341.000000,3.485905e+07,3.998628,-668043.828746,82.4,100.000000

In [22]:
for col in df.columns: 
    print(col, df.loc[df[col] == 0.0, col].count())

year 0
remu 3
serv 3
d_goods 3
total_expenses 0
remu_bas 3
remu_ev 3
rentals 43
serv_cf 5
cap_prot 27
maintenance 3
cap_mef 6
cap_cai 61
pe_goods 922
salaries 3
ext_time 33
sub_all 4
rent_bcl 701
rent_mef 57
publicity 200
activities 109
main_bcl 209
main_roads 847
main_other 722
cap_me 273
cap_trans 376
cap_build 304
cap_roads 191
cap_install 574
pe_land 944
pe_build 1193
municipality 0
type 0
Age 0
Gender 0
win_margin 0
abstentionism 0
pop_share014 0
pop_share65plus 0
k_12centers 0
pop 0
gdp 0
interest_rate 0
deficit 0
debt 0
price_index 0

In [23]:
df.to_stata("base_regresiones.dta", write_index=False)